body{
    margin: 0;
    padding: 0;
}




.header_background_div{
    padding-top: 400px;
    padding-bottom: 200px;
    background: url(../img/backgroung_img_1.png) no-repeat center/cover;
    background-position: bottom left;
    position: relative;
}
.header_background_div span{
    position: absolute;
    top: 100px;
    left: 0;
    height: 40px;
    width: 50px;
    background-color: #000;

}
.header_background_div .span_1_in_header_background_div{
    top: 200px;
    left: 40%;
    width: 55%;
}
.header_background_div .span_2_in_header_background_div{
    top: 260px;
    left: 50%;
    width: 45%;
}
.header_background_div .span_3_in_header_background_div{
    top: 320px;
    left: 60%;
    width: 35%;
}

.burger{
    position: fixed;
    top: 40px;
    left: 30px;
    z-index: 3;
}
.div_with_spans_in_burger{
    position: relative;
    background-color: #000;
    padding: 50px;
    background-color: #FFF500;
    border: 9px solid #000000;
    border-radius: 50%;
    transform: rotate(-20deg);

}
.burger span{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 10px;
}

.burger .span_1_in_burger{
    top: 25px;
}
.burger .span_2_in_burger{
    top: 45px;
}
.burger .span_3_in_burger{
    top: 65px;
}


.logo{
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: #000;
    padding: 0 30px;
    z-index: 1;
}
.logo svg{
    width: 100px;
}

.svg_div{
    text-align: center;
    position: relative;
}

.text_on_main_svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(0);
}

.div_with_svg_div{
    margin-bottom: 200px;
}

.align_center_div{
    text-align: center;
}
.scroll_down_button{
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 55px 55px;
    background-color: #FFF500;
    border-radius: 50%;
}

.scroll_down_button::before{
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    height: 30px;
    width: 30px;
    border: 9px solid #000;
    border-left: 0;
    border-top: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.big_text_1{
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    line-height: 75px;
    padding: 0;
    margin: 0;
}
.main_background_2{
    padding: 100px 0;
    background-color: #000;
    padding-bottom: 0;
}
.text_background{
    background: #000 url(../img/text_white_background.png) repeat;
    padding: 100px 0;
    background-size: auto 100%;
    margin-bottom: -1px;
    margin-top: -1px;
}
.main_background_2 p,
.just_a_normal_text{
    padding: 0 60px;
    color: #fff;
    font-size: 70px;
    padding-bottom: 100px;
}
.scroll_button_2{
    margin-bottom: 200px;
}
.big_white_button{
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 40px 80px;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-bottom: 100px;

}
.scroll_button_3{
    background: #000 url(../img/text_white_background_2.png) repeat-x;
    background-position: bottom;
}

.big_text_ministry{
    padding: 50px 0;
    background-color: #fff;
    margin-top: -1px;
    text-align: center;
}
.ministry_text{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    padding: 20px;
}
.ministry_text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100px;
    border: 9px solid #000;
    border-right: 0;
    border-bottom: 0;

}
.ministry_text::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 100px;
    border: 9px solid #000;
    border-left: 0;
    border-top: 0;
}

.just_a_normal_text{
    color: #000;
}


.scroll_button_black{
    background-color: #000;
    margin-bottom: 100px;
}
.scroll_button_black::before{
    border-color: #fff;
}
.black_button{
    background-color: #000;
    color: #fff;
}
.scroll_button_4{
    background: #fff url(../img/text_white_background_4.png) repeat-x;
    background-position: top;
    
}
.main_background_3{
    background-color: #000;
    margin-top: -35px;
}

.contacts_text{
    color: #fff;
    padding-top: 200px;
    padding-bottom: 100px;
}
.contacts_btn{
    display: block;
    text-decoration: none;
    font-size: 50px;
    background-color: #FFF500;
    padding: 20px 30px;
    margin: 20px 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 900;
    color: #000;
}
.last_contacts_btn{
    margin-bottom: 150px;
}
.music_buttons_div{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background: #000 url(../img/backgroung_img_3.png) repeat-x;
    padding-bottom: 100px;
}
.music_buttons_div svg{
    background-color: #FFF500;
    border-radius: 10px;
    padding: 20px 20px;
    height: 100px;
    width: 100px;
}

.music_buttons_div svg path{
    fill: #000;
}
.scroll_button_5{
    margin-bottom: 200px;
}
.text_5{
    color: #fff;
    margin-bottom: 100px;
}
.text_on_invitation{
    padding: 0 60px;
    margin: 0;
    color: #fff;
    padding-bottom: 80px;
}
.text_on_invitation a{
    position: relative;
    color: #FFF500;
    text-decoration: none;
}
.text_on_invitation a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #000 url(../img/background_img_4.png) repeat-x;
    background-size: contain;
}
.scroll_up_button::before{
    top: 55%;
    transform: translateX(-50%) translateY(-50%) rotate(225deg)
}
.scroll_up_button_div{
    padding-bottom: 100px;
}


.naw_menu{
    display: none;
    position: fixed;
    top: 40px;
    left: 30px;
    width: calc(100vw - 130px);
    height: calc(100vh - 200px);
    background-color: #FFF500;
    border-radius: 60px;
    padding: 0 40px;
    padding-top: 140px;
    overflow-y: scroll;
}
.menu_open{
    display: block;
    z-index: 2;
}
.naw_menu a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
    line-height: 52px;
    font-weight: 900;

}
.naw_menu p{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.burger_open{
    border-color: #FFF500;
}
.burger_open .span_1_in_burger{
    transform: translateX(-50%) rotate(63deg);
    top: 45%;
    left: 50%;
    width: 60px;
}
.burger_open .span_2_in_burger{
    display: none;
}
.burger_open .span_3_in_burger{
    transform: translateX(-50%) rotate(-20deg);
    top: 45%;
    left: 50%;
    width: 60px;
}
